@model OverviewsViewModel
@{
    ViewBag.Title = "Project Overviews";
}

<div>
    @foreach (var overview in Model.Overviews)
            {
                <h3>@overview.ProjectName</h3>
            }
</div>

