@model AddProjectModel


<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add A Project</h2>
    </div>
    <div class="add-project-container">
        @using (Html.BeginForm("AddProject", "Projects", FormMethod.Post, new { @class = "add-resource-form" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.ProjectName, new {  @class = "control-label", autocomplete = "off"})
                <div class="row">
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ProjectName, new { @class = "form-control", autocomplete = "off"})
                        <div>@Html.ValidationMessageFor(x => x.ProjectName)</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>