@model ProjectsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<div>
    <div>
        @foreach (var project in Model.Projects)
        {
            <h3>@project.ProjectName</h3>
            <p>@project.Type</p>
        }
    </div>
    <div>
        <a href="@Url.Action("_AddProject", "Projects")">
            Add Project
        </a>
    </div>
</div>
