@model ProjectsViewModel

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h1>Projects</h1>
</div>


<div>
    <div>
        @foreach (var project in Model.Projects)
        {
            <h3>@project.ProjectName</h3>
            <p>@project.Type</p>
        }
    </div>
    <div>
        <a href="@Url.Action("_AddProject", "Projects")">
            Add Project
        </a>
    </div>
</div>
